@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-background {
    background-image: url('/img/dashboard.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.auth-background {
    background-image: url('/img/kota-semarang.png');
    background-size: cover;
    background-position: center;
}

@layer components {
    .backdrop-blur-sm {
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
    }
}